---
import { getLaunchBy } from '../../lib/spacex.ts'
import Layout from '../../layouts/Layout.astro'
const { id } = Astro.params
const launch = await getLaunchBy({ id: id ?? '' })
---

<Layout title={`Launch #${launch?.flight_number} ${launch?.name}`}>
  <article class="grid grid-cols-1 mx-auto w-96 place-content-center gap-2 place-items-center px-2 mb-2">
    <img src={launch?.links?.patch?.small} alt="" class="w-32"
    transition:name=`launch ${launch?.id} image`
    >
    <h2 class="text-3xl text-white font-semibold">Launch #{launch?.flight_number}</h2>
    <h3 class="text-xl text-orange-200 font-semibold">{launch?.name}</h3>
    <p class="text-white text-base">{launch?.date_local}</p>
    {
      launch?.links?.youtube_id !== null && (
        <iframe src={`https://www.youtube.com/embed/${launch?.links?.youtube_id}`} title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
      )
    }
    <span
      class:list={[
        'my-2 text-xs font-bold tracking-tight p-1 rounded',
        {
          'bg-green-200 text-green-900': launch?.success,
          'bg-red-200 text-red-900': !(launch?.success !== null && launch?.success === true)
        }
      ]}
    >
      {(launch?.success !== null && launch?.success === true) ? 'Success ✅' : 'Failure ❌'}
    </span>
    <p class="text-white text-base">{launch?.details}</p>
  </article>
</Layout>
